* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

.container {
	/*max-width: 300px;*/
	margin: 0 auto;
	background-color: lightgray;
	border: 2px solid gray;
	border-radius: 6px;
}

.video-container {
	text-align: center;
}

#search {
	display: block;
	margin: 0px auto 25px auto;
	border-radius: 3px;
}

.padded {
	display: inline-block;
	margin: 30px auto;
}

form {
	margin: 0 auto;
}

.caption {
	margin-bottom: 0px;
}

.timer {
	display: block;
	text-align: center;
	width: 90%;
	margin: auto;
	padding: 0px;
}

.timer-inputs {
	width: 40%;
	margin: 20px auto;
}

.timer-btns {
	width: 65%;
	margin: 20px auto;
}

h3 {
	font-size: 14px;
	margin-top: 0;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.search-results {
	width: 90%;
	margin: 0 auto;

}

.search-result-title {
	font-size: 14px;
}

#video {
	width: 90%;
	margin: auto;
}

iframe {
	width: 100% !important;
	height: 100% !important;
	margin: 0 auto;
}
