* {
    box-sizing: border-box;
}

.container {
  max-width: 75%;
  /*text-align: center;*/
  margin: 0 auto;
}

.video-container {
	text-align: center;
}

#search {
	display: block;
	margin: 0px auto 10px auto;
}
.padded {
	display: inline-block;
	margin: 30px auto;
}

form {
	/*display: inline-block;*/
	margin: 0 auto;
}

.videoChoices {
    width: 50%;
    margin: 0 auto;
}

.caption {
	margin-bottom: 0px;
}

.videoThumbnail {
    height: 60px;
    width: 80px;
}

#timer {
	text-align: center;
}

h3 {
	font-size: 14px;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.search-results {
	width: 75%;
	margin: 20px auto;
}

.search-result-title {
	font-size: 14px;
}

#video {
	width: 75%;
	margin: auto;
}

iframe {
	width: 100% !important;
	height: 100% !important;
	margin: 20px auto;
}

/*.ytp-thumbnail-overlay-image {
	display: inline-block;
	margin: auto;
}*/